@model RecordManagementPortalDev.Models.Customer
@{
	ViewData["Title"] = "CreateCustomer";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="mt-3">Create Customer</h4>
<div class="border p-3 mt-4">
	<form method="post" asp-action="CreateCustomer">
		<fieldset>
			@*<div asp-validation-summary="All" class="text-danger"></div>*@
			<div class="form-group">
				<label asp-for="Billing" class="form-label mt-4">Billing</label>
				<select asp-for="Billing" class="form-select" id="Billing">
					<option>Monthly</option>
					<option>Quarterly</option>
					<option>Yearly</option>
				</select>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label asp-for="CustomerCode" class="form-label mt-4">Customer Code</label>
						<input asp-for="CustomerCode" type="text" class="form-control" id="CustomerCode" aria-describedby="Customer Code" placeholder="Enter Customer Code">
						<span asp-validation-for="CustomerCode" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="CustomerName" class="form-label mt-4">Customer Name</label>
						<input asp-for="CustomerName" type="text" class="form-control" id="CustomerName" aria-describedby="Customer Name" placeholder="Enter Customer Name">
						<span asp-validation-for="CustomerName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Address1" class="form-label mt-4">Customer Address 1</label>
						<input asp-for="Address1" type="text" class="form-control" id="Address1" aria-describedby="Customer Address 1" placeholder="Enter Customer Address 1">
						<span asp-validation-for="Address1" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Address2" class="form-label mt-4">Customer Address 2</label>
						<input asp-for="Address2" type="text" class="form-control" id="Address2" aria-describedby="Customer Address 2" placeholder="Enter Customer Address 2">
						<span asp-validation-for="Address2" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Address3" class="form-label mt-4">Customer Address 3</label>
						<input asp-for="Address3" type="text" class="form-control" id="Address3" aria-describedby="Customer Address 3" placeholder="Enter Customer Address 3">
					</div>
					<div class="form-group">
						<label asp-for="Address4" class="form-label mt-4">Postal Code</label>
						<input asp-for="Address4" type="text" class="form-control" id="Address4" aria-describedby="Postal Code" placeholder="Enter Postal Code">
						<span asp-validation-for="Address4" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-outline-warning mt-3">Create</button>
					<a class="btn btn-outline-light mt-3 mx-4" href="javascript: history.go(-1)">Back To Customer List</a>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label asp-for="PIC" class="form-label mt-4">Person In Charge</label>
						<input asp-for="PIC" type="text" class="form-control" id="PIC" aria-describedby="Person In Charge" placeholder="Enter Person In Charge">
						<span asp-validation-for="PIC" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Designation" class="form-label mt-4">Designation</label>
						<input asp-for="Designation" type="text" class="form-control" id="Designation" aria-describedby="Designation" placeholder="Enter Designation">
						<span asp-validation-for="Designation" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Telephone" class="form-label mt-4">Telephone</label>
						<input asp-for="Telephone" type="text" class="form-control" id="Telephone" aria-describedby="Telephone" placeholder="Enter Telephone">
						<span asp-validation-for="Telephone" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Fax" class="form-label mt-4">Fax</label>
						<input asp-for="Fax" type="text" class="form-control" id="Fax" aria-describedby="Fax" placeholder="Enter Fax">
					</div>
					<div class="form-group">
						<label asp-for="Email" class="form-label mt-4">Email address</label>
						<input asp-for="Email" type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="FMSJMSInvoiceCode" class="form-label mt-4">FMS/JMS/InvoiceCode</label>
						<input asp-for="FMSJMSInvoiceCode" type="text" class="form-control" id="FMSJMSInvoiceCode" aria-describedby="FMSJMSInvoiceCode" placeholder="Enter FMS/JMS/InvoiceCode">
					</div>
					<div class="form-group">
						<label class="form-label mt-4">Is require approver YES/ NO?</label>
						<select asp-for="NeedApproval" class="form-select" id="ApprovalRole">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="mb-10">
	&nbsp;
</div>

@section Scripts {
	@{
	<partial name="_ValidationScriptsPartial" />
	}

}
