@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
@*<h2>Enter your email.</h2>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="Input.UserCode" class="form-label mt-4">User Code</label>
				<input asp-for="Input.UserCode" type="text" class="form-control" id="UserCode" aria-describedby="UserCode" placeholder="UserCode">
				<span asp-validation-for="Input.UserCode" class="text-danger"></span>
			</div>    
             <div class="form-group">
				<label asp-for="Input.Email" class="form-label mt-4">Email</label>
				<input asp-for="Input.Email" type="text" class="form-control" id="Email" aria-describedby="Email" placeholder="Email">
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>    
            <button type="submit" class="btn btn-outline-warning mt-3">Reset Password</button>
        </form>
    </div>
</div>
<div class="mb-10">
	&nbsp;
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
