@{
	ViewData["Title"] = "Histroy";
	Layout = "~/Views/Shared/_BeforeLoginLayout.cshtml";
}
<section>	
	<h3 class="text-left"><b>History</b></h3>	
	<div class="img">
		<img alt="History" src="../lib/images/history.jpg" class="img-polaroid img-history float-start rounded" />
	</div>
	<p class="about">
		Since 1909, Mitsui-Soko has been growing from strength to strength everyday through the continuing and fast growth of our clients base in Japan and beyond. Everyday more and more information are stored in our many records centres from Japan down to Singapore and up to the United States of America.
	</p>
	<div class="well well-height well-history" style="clear:both;">
	<p class="about"><strong>1998</strong> A new Record Centre opens in Singapore</p>
	<p></p>
	<p><strong>2005</strong> Hong Kong, Shanghai Record Centre opens</p>
	<p></p>
	<p class="about"><strong>2006</strong> Opens new Record centre in USA (Los Angeles)</p>
	<p></p>
	<p class="about"><strong>2008</strong> Malaysia (Kuala Lumpur, Penang) Record Centre opens</p>
	<p></p>
	<p class="about"><strong>2008</strong> Korea Record Centre opens</p>
	<p></p>

	<div class="span9">
		<p class="text-danger">Singapore RMB has the longest and most experienced history in Mitsui-Soko Group</p>
	</div>
	</div>
	<div style="display:block;height:30px;">
		&nbsp;
	</div>
</section>
