@{
	ViewData["Title"] = "IntStandard";
	Layout = "~/Views/Shared/_BeforeLoginLayout.cshtml";
}
<section>
	<h1 class="text-left"><b>International Standard</b></h1>	
	<h5>ISO</h5>
	<div class="row-fluid">
		<div class="img-right">
			<img alt="" src="../lib/images/Iso9001.gif" class="img-polaroid iso" />
		</div>
		<p class="text-danger">
			Mitsui-Soko Records Management is accredited as meeting this standard for a whole range of key activities.
			<br />
			<a href="http://www.iso.org" target="_blank">http://www.iso.org</a>
		</p>
	</div>
	<br />
	<div style="display: block; height: 30px;">
		&nbsp;
	</div>
</section>