@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_BeforeLoginLayout.cshtml";
}
<section>
	<h3 class="text-left"><b>Profile</b></h3>
	<div class="img"><img alt="COMPANY PROFILE" src="../lib/images/company_ttl_img.gif" class="img-polaroid img-profile float-start rounded" /></div>
	<p class="about">
		Mitsui-Soko Co., Ltd. was established in 1909 after serving as the warehouse division of Mitsui Bank (currently Sumitomo Mitsui Banking Corporation). During the intervening years, Mitsui-Soko and its consolidated subsidiaries have steadily expanded their bases in principal diverse range of logistics services in Japan and overseas, including port terminal operations and overland transportation, warehousing and records management.
	</p>
	<p class="about">
		In addition to offering these traditional services, the Group believes that its mission is to provide customers with the services they require now and in the future in a mode best suited to their particular needs. Therefore, the Group offers integrated management of actual logistics for all stages of business operations, from customer production to sales, as well as the accompanying flow of information, as it strives to offer optimal logistics flows that match the requirements of each customer.
	</p>
	<p class="about">
		The Mitsui-Soko Group's fundamental policy is to supply logistics functions that indispensable in such basic activities of industry as transportation and storage while contributing to society through these business activities. While responding quickly to changes in both the corporate environment and the foundations of industry, we will promote business operations that incorporate and awareness of corporate value and capital costs.
	</p>
	<p class="about">
		In December 2004, Mitsui-Soko opened Mitsui-Soko Records Centre (MRC) in Machida City, Tokyo, as a cutting-edge facility responsible for Business Process Outsourcing (BPO). While storing and managing data in compliance with the Personal Information Protection Act enforced from April 2005, Mitsui-Soko is focusing on exploring various needs related to information management.
	</p>
	<div style="display:block;height:30px;">
		&nbsp;
	</div>
</section>
