@{
	ViewData["Title"] = "VisionMission";
	Layout = "~/Views/Shared/_BeforeLoginLayout.cshtml";
}
<section>
	<h3 class="text-left"><b>Vision</b></h3>
	<p class="about">
		To become one of the best Records Mangement Service Provider in the world.
	</p><br />
	<h3 class="text-left"><b>Mission</b></h3>
	<p class="about">
		Mitsui-Soko Records Management manages all information and data for your profitability. Your company's information managed by Mitsui-Soko records management creates opportunity for you to:
	</p>
	<ul class="list-group">
		<li class="list-group-item">
			Enhance level of customer service
		</li>
		<li class="list-group-item">
			Minimise the risk factor
		</li>
		<li class="list-group-item">
			Have great value for your dollar
		</li>
		<li class="list-group-item">
			Monitor your expenses conveniently
		</li>
		<li class="list-group-item">
			Meet with regulatory environment
		</li>
		<li class="list-group-item">
			Protect your information till final destruction
		</li>
	</ul>
	<p class="text-danger">at Mitsui-Soko, we never say "No" to all your records management needs and wants.</p>
	<div style="display:block;height:50px;">
		&nbsp;
	</div>
</section>
